    @import url('https://fonts.googleapis.com/css?family=Archivo+Black|Montez&display=swap');
    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    
    header {
        background: rgb(184, 176, 176);
        margin: calc(1%);
        border: 1px solid black;
    }
    
    h1 {
        font-family: 'Montez', cursive;
        margin-left: calc(10%);
        margin-top: calc(2%);
        margin-bottom: calc(2%);
        background: rgb(184, 176, 176);
        font-size: 70px;
    }
    
    .mente {
        font-family: 'Archivo Black', sans-serif;
        color: green;
        text-shadow: 1px 1px yellow;
        background: rgb(184, 176, 176);
        font-size: 30px;
    }
    
    #articulo1 {
        width: calc(50%);
        text-align: justify;
        float: left;
        box-sizing: border-box;
        padding: 20px;
    }
    
    #articulo2 {
        width: calc(50%);
        text-align: justify;
        float: left;
        box-sizing: border-box;
        padding: 20px;
    }
    
    #articulo3 {
        width: calc(30%);
        text-align: justify;
        float: left;
        box-sizing: border-box;
        padding: 20px;
    }
    
    #articuloimg {
        width: calc(70%);
        float: left;
        box-sizing: border-box;
        padding: 20px;
    }
    
    #imagen {
        width: calc(90%);
        height: 30vh;
        display: block;
        margin: calc(10%) auto;
    }
    
    #caja1 {
        float: left;
        width: calc(80%);
        height: 100vh;
        background: greenyellow;
        box-sizing: border-box;
        padding: 20px;
        margin: calc(1%);
        border: 1px solid black;
    }
    
    .topaside {
        margin-top: 1%;
        background: greenyellow;
        width: 17%;
        height: 40vh;
        float: left;
        border: 1px solid black;
    }
    
    .bottomaside {
        margin-top: 1%;
        background: gray;
        width: 17%;
        height: 40vh;
        float: left;
        border: 1px solid black;
    }